.activityEncabezado{
    display: flex;
    justify-content: space-evenly;
}
.activityCard {
    background-color: #E3E1E1;
    padding: 3rem;
    margin: 10rem;
    border-radius: 2rem;
    span{
        font-size: 1.7rem;
    }
    h3{
        font-size: 2.5rem;
        text-align: start;
        padding: 1rem;
        margin-top: 2rem;
        font-weight: bold;
    }

    .showfile{
        font-size: 2rem;
        color: #1788FF;
        cursor: pointer;
        margin-bottom: 20rem;
    }
    .contend{
        font-size: 1.6rem;
        text-align: justify;
        padding: 1rem;
    }
    .header1{
        display: flex;
        justify-content: space-between;
        font-size: 3rem;
        font-weight: bold;
        span{
            font-size: 2.5rem;
            letter-spacing: 0.3rem;
            font-weight: bold;
        }
    }
    .metadata{
        text-align: end;
        padding-top: 1rem;
        p{
            font-size: 1.5rem;
        }
        span{
            font-size: 1.5rem;
            font-weight: bold;
        }
    }
    .btn{
        float: right;
        font-size: 2rem;
    }
}

