.btn {
  border-radius: 1rem;
  border: 1px solid rgb(163, 163, 163);
  background-color: rgb(245, 245, 245);
  max-height: 20rem;
  min-width: 32rem;
  max-width: 32rem;
  margin: 2rem auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s;

  &:hover {
    transform: scale(1.05);
    transition: 0.5s;
    background-color: rgba(255, 200, 82, 0.493);
  }
  &:active {
    transform: scale(0.95);
    transition: 0.5s;
    background-color: rgba(255, 200, 82, 0.815);
  }

  &Title {
    font-size: 2rem;
    padding: 1rem;
  }
  &Img {
    max-width: 13rem;
  }
}
