.textDesk {
  font-size: 4rem;
}
.textTablet {
  font-size: 4rem;
}
.textPhon {
  font-size: 4rem;
}

.globalCont {
  width: 100%;
  background-color: #fff;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;

  & > *:nth-child(1) {
    flex: 1 1 20%;
  }

  & > *:nth-child(2) {
    flex: 1 1 60%;
  }
}
.content {
  display: block;
}
.contentflex {
  display: flex;
}

.postmContainer {
  width: 100%;
  height: 79vh;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-color: #babac0 #fff;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.postuContainer {
  width: 100%;
  height: 90vh;
  margin-top: 1rem;
  margin: 0 auto;
  overflow-y: scroll;
  scrollbar-color: #babac0 #fff;
  scrollbar-width: thin;

  &::-webkit-scrollbar {
    background-color: #fff;
    width: 16px;
  }

  &::-webkit-scrollbar-track {
    background-color: #fff;
  }

  &::-webkit-scrollbar-thumb {
    background-color: #babac0;
    border-radius: 16px;
    border: 4px solid #fff;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }
}

.headerM {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
}

.taskCont {
  margin: 2rem 15rem 0 15rem;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border: 1px solid rgb(163, 163, 163);
  background-color: rgb(245, 245, 245);
}

.perload {
  width: 100%;
  min-height: 90vh;
  background-color: rgba(0, 0, 0, 0.692);
}

.preloadCard {
  width: 100rem;
  border: 1rem;
  // border: 1px solid rgb(199, 199, 199);
  padding: 20rem 10rem;
  margin: 0 auto;
  // background-color: rgb(223, 223, 223);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.preloadTitle {
  text-align: center;
  font-size: 5rem;
  font-weight: bold;
  color: #fff;
}
