.menu{
    // background-color: #ffc400a6;
    // background: linear-gradient(90deg, rgb(255, 201, 41) 0%, rgba(255,216,10,1) 65%, rgb(255, 201, 41) 100%); 
    background-image: url(../../public/assets/img/sidebar.jpg);
    background-size: cover;
    background-position: center;
    box-shadow: 1rem 0rem 3rem rgb(0, 0, 0, 0.3);
    max-width: 29.4rem;
    height: auto;
    min-height: 100vh;
}
.menu a{
    font-size: 2rem;
    color: rgb(0, 0, 0);
    margin: 0 auto;
    text-align:end;
    display: block;
    padding: 1rem;
    font-weight: 600;
    letter-spacing: 0.3rem;
}
.menu a:hover{
    background-color: rgb(0, 0, 0, 0.7);
    color: #e4e4e4;
    margin-left: 1rem;
    border-radius: 3rem 0 0 3rem;
    font-weight: 500;

}
.menu a:active{
    background-color: rgb(0, 0, 0);
    color: #e4e4e4;
    margin-left: 1rem;
    border-radius: 3rem 0 0 3rem;
}

.user{
    padding: 0.5rem;
    padding-top: 5rem;
    padding-bottom: 5rem;
    background-color: rgb(197, 148, 0, 0.5);
    font-size: 2rem;
    font-weight: bold;
    // border: 0.5px solid rgb(255, 255, 255);
    // background-color: rgb(255, 196, 17);
    text-shadow: 0rem 0rem 1rem rgb(0, 0, 0,0.8);
    text-align: center;
    color: rgb(255, 255, 255);
    transition: 2s;   
}

