.Main {
  width: 100%;
  background-image: url(../../public/assets/img/bg.jpg);
  background-size: cover;
  background-position: center;
  padding: 2rem;
  &Container {
    width: 80%;
    min-height: 100vh;
    margin: 0rem auto;
    border: 1px solid rgb(189, 189, 189);
    background-color: #ffffff;
  }
  &Header {
    width: 100%;
    padding: 3rem 8rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    &Title {
      font-size: 3rem;
      font-weight: bold;
    }
    Button {
      font-size: 2rem;
      margin-left: 1rem;
    }
  }

  &Content {
    width: 95%;
    margin: 0 auto;

    &Title {
      font-size: 3rem;
      font-weight: bold;
    }
    &Activitys {
      width: 100%;
      // height: 70rem;
      margin: 4rem auto;
      overflow-y: scroll;
      scrollbar-color: #babac0 #fff;
      scrollbar-width: thin;
      &::-webkit-scrollbar {
        background-color: #fff;
        width: 16px;
      }

      &::-webkit-scrollbar-track {
        background-color: #fff;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #babac0;
        border-radius: 16px;
        border: 4px solid #fff;
      }

      &::-webkit-scrollbar-button {
        display: none;
      }
    }
  }
}

.the404 {
  width: 100%;
  height: 100vh;
  padding: 10rem;
  &Text {
    font-size: 6rem;
    font-weight: bolder;
    &Small {
      font-size: 3rem;
    }
  }
  &Img {
    width: 30%;
  }
  Button {
    font-size: 2rem;
  }
}

.headerM {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  p {
    font-size: 3rem;
    font-weight: bold;
    margin-top: 3rem;
    margin-left: 3rem;
    margin-bottom: 3rem;
  }
}
