.buttonnew{  
    background-color: #333333;
    height: 60px;
    max-width: 281px;
    color: white;
    font-size: 2.5rem;
    border-radius: 20px;
    text-align: center;
}

.buttonnew:hover{
    color: bisque;
}