.mainCard{
    background-color: #E3E1E1;
    padding: 40px;
    border-radius: 5%;
    height: 100%;
    border-radius: 3.5rem;
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.viewcourses{
    background-color: #333333;
    color:white;
    width: 228px;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
}
.createExam{
    background-color: #69960B;
    color:white;
    width: 228px;
    border-radius: 1rem;
    text-align: center;
    font-size: 2rem;
}
.team{
    text-align: center;
    font-size: 2rem;
}