.footer{
    height: 6rem;
    background-color: #7319B3;
}
.textFooter{
    padding: 1rem;
    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 1.4rem;
    line-height: 2.9rem;
    text-align: center;
    color:white
}
.textFooter a{
    color: #FFD80A;
}